BOT_TOKEN=your_discord_bot_token_here
AUDIT_LOG_WEBHOOK=
AUDIT_LOG_PREVIEW_ENABLED=1
ALLOWED_USER_IDS=123456789012345678,234567890123456789
MOD_DISCORD_USER_TOKEN_1=
MOD_DISCORD_USER_TOKEN_2=
MOD_DISCORD_USER_TOKEN_3=
MOD_DISCORD_USER_TOKEN_4=
MOD_DISCORD_USER_TOKEN_5=
MOD_DISCORD_USER_TOKEN_6=
MOD_DISCORD_USER_TOKEN_BANCHECK=
MOD_SERVER_GUILD_IDS=
MOD_DISCORD_USER_TOKEN_MONITOR=
